<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_date %><br />
    <%= f.text_field :workout_date, :value => @workout.workout_date.strftime('%A %B %d, %Y') %>
    <!-- add time to date -->
    <%= f.text_field :workout_date, :id => "workout_workout_date_time", :class => "input-mini" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
