<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_date %><br />
    <%= f.text_field :workout_date, :value => @workout.workout_date.strftime('%A %B %d, %Y') %>
    <input id="workout_time" class="input-small" name="workout[time]" type="text" placeholder="Enter time">
  </div>

  <!-- why isn't fields_for working with f.fields_for? where are my relations wrong -->
  <%= f.fields_for :exercises do |builder| %>
  <fieldset>
    <%= builder.text_field :lift_id %><br/>
  </fieldset>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
