<!-- hack: replace all messages with your own, but try to see how to customize them -->
<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Please fix the <%= pluralize(@workout.errors.count, "error") %> before saving this workout.
      </div>
      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :workout_date, :value => @workout.workout_date.strftime('%A %B %d, %Y') %>
    <!--<%= f.text_field :workout_date, :value => @workout.workout_date.strftime('%m/%d/%Y') %>-->
  </div>

  <%= f.fields_for :exercises do |builder| %>
    <%= render 'exercise_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Exercise", f, :exercises %>
  <div class="actions">
    <%= f.submit "Create workout", :class => "btn btn-success" %>
  </div>
<% end %>
