<p id="notice"><%= notice %></p>

<p>
  <b>Workout date:</b>
  <%= @workout.workout_date %>
  <% if @workout.exercises.any? %>
  <ul class="sortable">
  <% @workout.exercises.each do |exercise| %>
  <div class="widget">
    <div class="widget-header">
      <p><%= exercise.lift.lift_name %></p>
    </div>
    <div class="widget-content">
      <p>
        <% exercise.exercise_sets.each do |exercise_set| %>
        <%= exercise_set.weight %>lbs X <%= exercise_set.number_of_reps %> X <%= exercise_set.number_of_sets %><br />
        <% end %>
      </p>
      <div class="widget-form">
        <input type="text" class="input-medium exercise-set-info" placeholder="Weight">
      </div>
    </div>
  </div>
  <% end %>
  </ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
