<div class="row signin-box">
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-signin", :method => :put }) do |f| %>
  <h3 class="form-heading">Edit your profile</h2>
  <%= f.email_field :email, :autofocus => true, :class => "input-block-level", :placeholder => "Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.password_field :current_password, :class => "input-block-level", :placeholder => "Current password" %>

  <%= f.password_field :password, :autocomplete => "off", :class => "input-block-level", :placeholder => "New password" %>

  <%= f.password_field :password_confirmation, :class => "input-block-level", :placeholder => "New password confirmation" %>

  <div><%= f.submit "Update", :class => "btn btn-large btn-info" %></div>
<% end %>

<div class="form-signin form-cancel">
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger", :method => :delete %></p>
<%= link_to "Back", :back %>
</div>