<p id="notice"><%= notice %></p>

<p>
  <b>Lift:</b>
  <%= @exercise.lift %>
</p>

<p>
  <b>Workout:</b>
  <%= @exercise.workout %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
