<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <nav class="nav-collapse collapse">
        <%= link_to "Workoutapp", root_path, :class => "brand brand-nohover" %>
        <ul class="nav pull-right ">
          <% if user_signed_in? %>
          <li><a href="<%= workouts_path %>"><i class="icon-calendar"></i> Workouts</a></li>
          <li><a href="<%= edit_user_registration_path %>"><i class="icon-edit"></i> Edit Profile</a></li>
          <li><a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><i class="icon-off"></i> Logout</a></li>
          <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav><!--/.nav-collapse -->
    </div>
  </div>
</header>