  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <%= link_to "Musclio", root_path, :class => "brand brand-nohover" %>
          <ul class="nav pull-right ">
            <% if user_signed_in? %>
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!--
<ul>
  <li><%= link_to "Home", '#' %></li>
  <li><%= link_to "About", '#' %></li>
  <% if user_signed_in? %>
  <li><%= link_to "Edit profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Login", new_user_session_path %></li>
  <% end %>
</ul> -->